$align: text-align;

body{
	background-color: beige;
	font-family: 'Courier New', Courier, monospace;
	h1{
  		$align: center;
  		color: black;
	}
	.search{
		$align: center;
		color: black;
	}
	.button_submit{
		$align: center;
		color: black;
	}
	.profile{
		border: 1px solid pink;
		border-radius: 20px;
		font-size: 20px;
		padding: 5px;
		margin: 10px;
		$align: right;
	}
}