$align: center;
$color: rgb(243, 123, 143);

body{
	background-color: beige;
	font-family: 'Courier New', Courier, monospace;
	h1{
  		text-align: $align;
  		color: black;
	}
	.search{
		text-align: $align;
		color: black;
	}
	.button_submit{
		text-align: $align;
		color: black;
	}
	.button_pic_container{
		position: relative;
	}
	.profile{
		border: 1px solid $color;
		background-color: $color;
		border-radius: 30px;
		font-size: 20px;
		padding: 5px;
		margin: 10px;
		text-align: right;
		position: absolute;
		top: 0;
		right: 0;
	}
	
}